.card-body {
    border-left: 2px dashed $graycolor;
}

.seissors-icon {
    position: absolute;
    transform: rotate(270deg);
    left: -.5rem;
    bottom: -1rem;
}

.card {
    border-radius: 1rem;
    box-shadow: $shadow;
    margin: 6rem 0rem;
}